<mat-list>
    <h2 mat-header>Cart Items</h2>
    <hr>
    <mat-list-item *ngFor="let item of cartItems">
        <div class="flex-container">
            <img class="flex-item" src="{{ baseImgUrl + item.image}}" alt="{{item.description}}">
            <h4 class="flex-item">{{item.name}}</h4>
            <strong class="flex-item">Rs. {{item.price}}</strong>
            <p class="flex-item"> {{item.date | date}} </p>
            <mat-divider></mat-divider>
        </div>
    </mat-list-item>
</mat-list>

<div class="checkout">
    <h2>Total amount: {{total}}/-</h2>
    <button mat-raised-button (click)="onCheckOut()" color="primary">Proceed to checkout</button>
</div>