<mat-toolbar color="primary">
    <mat-toolbar-row class="header-bg">
        <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
        <a *ngIf="username" mat-button routerLink="/orders" routerLinkActive="active"><span class="fa fa-cube fa-lg"></span> My Orders</a>
        <a *ngIf="username" mat-button routerLink="/cart" routerLinkActive="active"><span class="fa fa-shopping-cart fa-lg"></span> <span id="cartCount" *ngIf='itemCount'>{{itemCount}}</span> Cart</a>
        <a mat-button routerLink="/aboutus" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
        <span class="flex-spacer"></span>
        <a *ngIf="!username" mat-button (click)="openLoginSignUpForm()"><span class="fa fa-sign-in fa-lg login-signup"></span> Login/SignUp</a>
        <a *ngIf="username"><p>Welcome {{username}}!</p></a>
        <a *ngIf="username" mat-button (click)="logOut()"><span class="fa fa-sign-out fa-lg"></span> Logout</a>
    </mat-toolbar-row>
</mat-toolbar>