$background-moredark: #4527A0;

.login-signup {
  padding: 0 14px;
}

.active {
  background: $background-moredark;
}

.header-bg p {
  color: aliceblue;
  margin: 10px
}

#cartCount{
  font-style: bold;
  font-weight: bold;
  font-size: small;
  color: antiquewhite;
  margin: 2px;
  padding: 2px;
}