.shopping-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start
}

.shop-item {
    flex: none;
    margin: 10px;
    width: 160px;
    height: 260px;
    overflow: hidden;
}

.shop-item-title {
    text-align: start;
}

.mat-card-image {
    overflow: hidden;
}

.mat-raised-button {
    float: right;
    overflow: hidden;
}

.item-price {
    float: left;
    overflow: hidden;
}

.add-remove-div {
    vertical-align: middle;
}