/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;
$background-moredark: #4527a0;

.flex-spacer {
  flex: 1 1 auto;
}

mat-list {
  padding: 20px;
}

.flex-empty-view {
  margin-top: 50px;
  font-weight: bold;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.flex-empty-view-item {
  flex: 0 1 auto;
  margin: 10px;
}
